<b>1xx	<i>Informational response</i></b>
100	<i>Continue</i>
101	<i>Switching Protocols</i>
102	<i>Processing</i>
103	<i>Early Hints</i>
104-199	<i>Unassigned</i>

<b># 2xx	<i>Success</i></b>
200	<i>OK</i>
201	<i>Created</i>
202	<i>Accepted</i>
203	<i>Non-Authoritative Information</i>
204	<i>No Content</i>
205	<i>Reset Content</i>
206	<i>Partial Content</i>
207	<i>Multi-Status</i>
208	<i>Already Reported</i>
209-225	<i>Unassigned</i>
226	<i>IM Used</i>
227-299	<i>Unassigned</i>

<b># 3xx	<i>Redirection</i></b>
300	<i>Multiple Choices</i>
301	<i>Moved Permanently</i>
302	<i>Found</i>
303	<i>See Other</i>
304	<i>Not Modified</i>
305	<i>Use Proxy</i>
306	<i>Switch proxy (Unused)</i>
307	<i>Temporary Redirect</i>
308 	<i>Permanent Redirect</i>
309-399	<i>Unassigned</i>

<b># 4xx	<i>Client errors</i></b>
400	<i>Bad Request</i>
401	<i>Unauthorized</i>
402	<i>Payment Required</i>
403	<i>Forbidden</i>
404	<i>Not Found</i>
405	<i>Method Not Allowed</i>
406	<i>Not Acceptable</i>
407	<i>Proxy Authentication Required</i>
408	<i>Request Timeout</i>
409	<i>Conflict</i>
410	<i>Gone</i>
411	<i>Length Required</i>
412	<i>Precondition Failed</i>
413	<i>Payload Too Large</i>
414	<i>URI Too Long</i>
415	<i>Unsupported Media Type</i>
416	<i>Range Not Satisfiable</i>
417	<i>Expectation Failed</i>
418-420	<i>Unassigned</i>
421	<i>Misdirected Request</i>
422	<i>Unprocessable Entity</i>
423	<i>Locked</i>
424	<i>Failed Dependency</i>
425	<i>Too Early</i>
426	<i>Upgrade Required</i>
427	<i>Unassigned</i>
428	<i>Precondition Required</i>
429	<i>Too Many Requests</i>
430	<i>Unassigned</i>
431	<i>Request Header Fields Too Large</i>
432-450	<i>Unassigned</i>
451	<i>Unavailable For Legal Reasons</i>
452-499	<i>Unassigned</i>

<b># 5xx	<i>Server errors</i></b>
500	<i>Internal Server Error</i>
501	<i>Not Implemented</i>
502	<i>Bad Gateway</i>
503	<i>Service Unavailable</i>
p504	<i>Gateway Timeout</i>
505	<i>HTTP Version Not Supported</i>
506	<i>Variant Also Negotiates</i>
507	<i>Insufficient Storage</i>
508	<i>Loop Detected</i>
509	<i>Unassigned</i>
510	<i>Not Extended</i>
511	<i>Network Authentication Required</i>
512-599	<i>Unassigned</i>
